/* --------Importing Font------- */
@font-face{
  font-family: Din;
  src:url("../DIN-Alternate/DIN-Alternate-Regular.otf");
}
@font-face{
  font-family:D-Din;
  src:url("../d-din/D-DIN-Bold.otf");
  font-weight: bold;
}
/* --------Basic Stylings------- */
html{
  box-sizing: border-box;
}
body{
  font-family: Din;
  background: #FAFCFB;
  font-size: 14px;
  letter-spacing: 0.34px;
  margin: 0;
}

h1,h2,h3,h4,span, button{
  text-transform: uppercase;
}
.shade{
    background: #F3F4F6;
}
a{
    text-decoration: none;
}
h4{
    text-align: center;
    padding-top: 4%;
    margin-left: 2%;
}
p{
  line-height: 44px;
}
/* --------Header Styles------- */
h1{
  font-size: 3.5rem;
  color: white;
  width: 60%;
  padding: 0 0 6rem 5.7rem;
  letter-spacing: 2.5px;
  line-height: 82px;
  margin-top: 10px;
}
header nav{
  background: rgba(255,255,255,0.1);
  height: 4.8rem;
}
nav a{
  color: white;
  opacity: 1;
  text-transform: uppercase;
  padding: 0 25px 0 25px;
}
header{
  background: url("../assets/header1.png");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
nav{
  display: flex;
  align-items: center;
  padding-left: 50px;
}
header div{
  display: flex;
  padding: 0 0 0 7%;
  margin-top: 2%;
}
header img{
  margin: auto 10px auto 0;
}
header h5{
    font-size: 18px;
}

/* --------Main Section Styles------- */

section{
  padding: 2% 6%;
}
.row, .feature-heading, .quote, ul {
  display: flex;
}
ul{
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
  font-size: 24px;
}
.row, .features p{
  /* font-weight: bold; */
  padding: 2% 5%;
}
span{
  color: #3E00FF;
}
.quote{
  border-bottom: 1px solid #3172FD;
  padding: 75px;
}
h3, h4, p{
    font-size: 24px;
    /* line-height: 44px; */
}
.row{
  flex-wrap: wrap;
}
.col1{
  width: 50%;
}
.user-list{
    list-style-image: url('../assets/bullet-1.png');
}
.dapp-list{
    list-style-image: url('../assets/bullet-2.png');
}
li{
  letter-spacing: .34px;
}
button{
    background: #0064FB;
    color: white;
    border-radius: 22.5px;
    width: 214px;
    height: 45px;
    font-size: 16px;
    display: block;
    margin: 0 auto 4%;;
    box-shadow: 5px 10px 18px rgba(0,100,251,.15);
}
h5{
    color: white;
}

/* --------Projects Section------- */
.project-list{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 0 auto;
    text-align: center;
}
.project{
    margin: 30px;
    width: 120px;
}

/* --------Team Member Section------- */
.profile p{
  font-size: 16px;
}
.profile-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.profile{
  width: 20%;
  text-align: center;
  margin: 2%;
  border: 1px outset rgba(82,77,239,0);
  padding: 2% 0.2%;
}
.profile a{
  padding: 5%;
}
.team-picture{
  width: 108px;
  height: 108px;
  border-radius: 100%;
}
.profile:hover{
  border: 1px outset rgba(82,77,239,0.5);
  box-shadow: 5px 10px 18px rgba(0,100,251,.15);
  transform: scale(1.1);
}
/* --------News Section------- */
.news{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}
.news h5{
    color: #4A4A4A;
    font-size: 18px;
}
.news-article{
    width: 30%;
    margin: 20px auto;
    padding-bottom: 3%;
}
.news-article p{
    font-size: 14px;
    line-height: 21px;
}
.news-article a{
  color: #5B3AF0;
  font-size: 14px;
}
.news-article:nth-of-type(-n+3){
  border-bottom: 1px solid #3172FD;
}
/* --------Footer Styles------- */
footer{
  background: rgba(17,17,17,.75);
  color: white;
  padding: 2% 5%;
}
.footer-container{
    border-bottom: 1px solid #AAC5FF;
    display: flex;
    padding-bottom: 2%;
}
footer a{
    color: white;
    /* font-weight: bold; */
    padding-right: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
footer h4{
    width: 350px;
    text-align: left;
    margin-top: 0;
}
footer h5{
    color: #979797;
}
footer div{
    margin: 0 40px;
}
footer span{
    color: white;
    margin: 10px;
    font-size: 12px;
}
.footer-social{
    display: flex;
    margin: 0;
}
/* --------Media Queries------- */

@media screen and (max-width: 960px) {
  .profile{
    width: 40%;
  }
  .col1{
    width: 100%;
  }
  h1{
    font-size: 3rem;
  }
  .news-article{
    width: 45%;
  }
  .news-article:nth-of-type(-n+4){
    border-bottom: 1px solid #3172FD;
  }
}
@media screen and (max-width: 760px) {
  .profile{
    width: 100%;
  }
  footer{
    padding: 5%;
  }
  h1{
    font-size: 2.5rem;
    padding: 6%;
  }
  .quote{
    padding: 2%;
  }
}
@media screen and (max-width: 650px){
  .news-article:nth-of-type(-n+5){
    border-bottom: 1px solid #3172FD;
  }
  .news-article{
    width: 70%;
  }
  .footer-container{
    flex-wrap: wrap;
  }
  .footer-social{
    flex-direction: column;
  }
}
