p,li {
  font-size: large;
}
.jumbotron {
  background: url("../assets/header1.png");
  height: auto;
  width: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12%;
}
.top-logo {
  width: 50px;
}
.bg-beige {
  background: #faf7ef;
}
.project{
  width: 200px;
}