RewriteEngine on
RewriteRule ^https://ethereum-terakoya.org/index.html(.*)$ /https://ethereum-terakoya.org/$1 [L,R=301]
RewriteRule ^https://ethereum-terakoya.org/en/index.html(.*)$ /https://ethereum-terakoya.org/en/$1 [L,R=301]
