@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #bb4e4e;
$text-color: #4c4c4c;
$main-submenu-color: #950000;

hr {
  background-color: black;
  // width: 100vw;
}

.main-header {

  background-image: url("./images/header.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-origin:content-box;
  @include media-breakpoint-down(sm) {
    min-height: 288px;
    background-size: auto 79%;
    background-position: top left 31%;
  }
  @include media-breakpoint-only(md) {
    min-height: 360px;
    background-size: auto 76%;
    background-position: top left 28%;
  }
  @include media-breakpoint-up(lg) {
    min-height: 463px;
    background-position: top left 20%;
  }


  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & .header-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .title-area {
      display: flex;
      align-items: flex-start;
      width: 100%;

      & .upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media-breakpoint-down(sm) {
          & .header-img {
            margin-left: 4em;
          }
        }
        @include media-breakpoint-up(md) {
          & .header-img {
            margin-left: 8em;
          }
        }
        @include media-breakpoint-only(xs) {
          justify-content: center;
          & .header-img {
            margin: auto;
          }
        }
        & .title {
          font-size: 2rem;
          display: inline-block;
          // background-color: #880d0dd4;
          padding-bottom: 1.8rem;

          @include media-breakpoint-up(md) {
            margin-left: 2em;
          }

          @include media-breakpoint-only(xs) {
            margin: auto;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      & .slogan {
        margin-left: 4em;
      }
    }

    @include media-breakpoint-only(xs) {
      & .slogan {
        margin: auto;
      }
    }
  }
}

.bg-beige {
  background: #faf7ef;
}

.toc-container {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}
.post-list-item {
  line-height: 2.4rem;
  margin-bottom: 1.8rem;
}
.header-anchor {
  margin-right: 0.5rem;
}
.post {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  max-width: 760px;
  word-break: break-all;
}
.post h1,
.post h2,
.post h3 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: bold;
}
.post h4,
.post h5 {
  padding: 1rem 0 .5rem;
  font-weight: bold;
}
.post p {
  margin: 0.5rem 0;
}

.main-submenu-title {
  // background-color: $main-submenu-color;
  width: 100%;
  margin: auto;
  // color: white;
  // display: inline;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 8px 16px 8px 16px;
  text-align: center;
}

.activity-container {
  & .item {
    border: 1px gray solid;
    margin: 1em 3em;
    padding: 1em;
  }

  .activity-item-title {
    text-align: center;
    font-weight: bold;
    font-size: large;
  }

  img {
    width: 133px;
    height: 133px;
  }

  ul {
    li {
      list-style-type: square;

      &::marker {
        width: 16px;
        height: 16px;
      }
    }
  }

  .activity-bottom {

  }
}

.about-eth-terakoya {
  .a-description {
    line-height: 2em;
    margin:8px;
    padding: 0 3em;
  }
}


.main-menu-item {
  // margin-bottom: 4rem;

  & .title {
    color: #000;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    border-bottom: #8a8a8a 1px solid;
  }

  & .description {
    padding-top: 2.0rem;
  }

  & .category {
    font-size: 0.86rem;
    font-weight: bold;
    // color: $primary;
    letter-spacing: 0.15rem;
  }

  & .link-icon {
    font-size: 1.8rem;
    margin-top: 0.8rem;
    a {
      color: $text-color;
      &:hover {
        color: $primary;
      }
    }
  }
}

.contact-us {
  a {
    button {
      background-color: black;
      border-color: black;
      width: 400px;
      border-radius: 30px;
      height: 3em;

      @include media-breakpoint-down(sm) {
        width: 300px;
      }
    }
  }
}

.participation-target {
  .pt-body {
    background-color: #e1e5e8;

    .pt-img {
      img {
        width: 133px;
        height: 133px;
      }
    }

    .pt-target {
      font-weight: bold;
    }

    .pt-description {

    }
  }
}

.header {
  .header-logo {
    &:before {
      background-image: url('/img/logo.png');
      display: inline-block;
      width: 36px;
      height: 36px;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      content: '';
    }
  }

  .news {
    margin-left: 1em;
    a {
      color: white;
    }
  }

  .working-group {
    a {
      color: white;
    }

    .working-group-item {
      a {
        color: black;
      }
    }

    .dropdown-menu {
      // background-color: black;

      a {
        color: black;
      }
    }
  }

  .contact-button {
    color: white;
    background-color: black;
    border-radius: 50px;
    width: 200px;
  }
}
.nav-item {
  @include media-breakpoint-down(md) {
    margin-bottom: 1.5rem;
  }
}
#responsive-navbar-nav{
  .up-lg {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .down-md {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .working-group-item {
    @include media-breakpoint-down(md) {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
}

.footer {
  .footer-title {
    &:before {
      background-image: url('/img/logo.png');
      display: inline-block;
      width: 36px;
      height: 36px;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      content: '';
    }
  }
}

.blog-block {
  background-color:#e7e7e7;
  border:1px solid #a9a9a9;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left:3rem;
  @include media-breakpoint-down(xs) {
    margin-left:0rem;
    width: 100%;
  }

  ul {
    list-style-type: square;
    margin: 1rem 0.5rem;
  }
  .sub {
    margin: 1rem 0 1rem 3rem;
  }
}